.sidebarRow {
    display: flex;
    align-items: center;
    padding:10px 20px;
   

}
.sidebarRow_title {
    
    
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight:500;
    
   

}
.sidebarRow:hover{
    background-color: lightgray;

    cursor: pointer;

}
.sidebarRow_icon {
    color: gray;
    font-size: large;
   
}
.sidebarRow:hover  >.sidebarRow_icon {
    color: red;
}
.sidebarRow.selected {
    background-color:lightgray;
}
.sidebarRow.selected > .sidebarRow_icon {
    color: red;
    

}
.sidebarRow.selected > .sidebarRow_title{
    font-weight: bold;

}